@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);



	header
	{
		margin: 20px 10px 40px 10px;
		font-family:"Lucida Console","Brush Script MT", Cursive;
		font-size:35px;
		color: white;
		text-shadow:3px 3px 8px rgb(213, 213, 213);
		text-align:center;
	}
	
	


	#me
	{
		margin:20px;
		padding:20px;
		font-size:20px;
		text-align: center;
		font-family: 'Hanna', sans-serif;
		background-color: #8080ff;
	}
	
	a:link {color: white;}
	/* visited link */
	a:visited {color: #ffff00;}
	/* mouse over link */
	a:hover {color: hotpink;}
	/* selected link */
	a:active {color: blue;}
	
	#hn
	{
		font-family: 'Hanna', sans-serif;
		font-size:20px;
		text-shadow:3px 3px 8px gray;
		text-align:center;
	}
	
	body
	{
		background-image: url('back.jpg');
		color: black;
		font-family: '맑은 고딕', '돋움', '고딕'
		
	}
	
	div
	{
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		text-align: center;
	}
	
	ul
	{
		font-family:"Lucida Console","Brush Script MT", Cursive;
		list-style:none;
		text-align:left;
		background-color: #f1d9ff;
		margin-left:20px; margin-right:20px;
		padding-top:20px; padding-bottom:20px;
	}
	#bd
	{
		border:"hidden";
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Hanna', sans-serif;
		color: white;
	}
	#sect
	{
		background-color: #7a02ca;
		color: white;
		text-align:center;
		margin:20px;
		padding:20px;
	}
	
	a
	{
		text-decoration: underline;
		color:#0000a0;
	}
	
	#age
	{
		border: 1px solid white;
	    color: white;
	    font-family: 'Hanna', sans-serif;
	    margin: 50px auto;
	    text-align: center;
	    width: 600px;
	    padding-top: 20px;
	}
	
	table
	{
		border-spacing:default;
		border-collapse: collapse;
		width: 100%;
	}
	
	th
	{
		border: 1px solid lightgray;
		padding: 5px;
		width: 30%;
	}
	
	td
	{
		border: 1px solid lightgray;
		padding: 5px;
		width: 10%;
	}